.container {
    width: 1000px;
    height: 300px;
    border: 3px solid blue; /*Visually show where the div is.*/
}
.container > img {
    object-fit: cover; /* Cover  means that the img will fill the box and preserve its aspect ratio  */
    object-position: center; /* Position of the image in it's parent */
    width: 100%;
    height: 100%;
}
.image-container {
    display: flex;
    justify-content: center; /* Yatay merkezleme */
    align-items: center; /* Dikey merkezleme */
    height: 100vh; /* Sayfan覺n tamam覺n覺 kaplas覺n */
}


