<div
    class="layout-sidebar"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
>
    <div class="layout-sidebar-top">
        <a href="/">
            <img class="layout-sidebar-logo" src="assets/layout/images/kuttigen-pizza-logo.svg" alt="Kuttigen Pizza" />
            <img class="layout-sidebar-logo-slim" src="assets/layout/images/kuttigen-pizza-icon.svg" alt="Kuttigen Pizza" />
        </a>
        <button
            class="layout-sidebar-anchor p-link"
            type="button"
            (click)="anchor()"
        ></button>
       
    </div>
    <app-menu-profile
        #menuProfileStart
        *ngIf="menuProfilePosition === 'start'"
    ></app-menu-profile>
    <div #menuContainer class="layout-menu-container">
        <app-menu></app-menu>
    </div>
    <app-menu-profile
        #menuProfileEnd
        *ngIf="menuProfilePosition === 'end'"
    ></app-menu-profile>
</div>
