

<div class="left-fixed-nav menu-container h-full flex flex-column" >
    <!-- SEARCH -->
    <div class="my-3 p-3">
		<div class="menu-search">
			<input type="text" placeholder="Search" (input)="onMenuSearch($event)">
			<i class="pi-fw pi pi-search"></i>
		</div>
    </div>

    <!-- MENU -->
    <div class="overflow-y-auto">
        <ul class="list-none p-3 m-0 flex flex-wrap">
            <ng-container *ngFor="let item of filteredPermissionMenu; let i = index">
                <li *ngIf="!item.separator"
                    class="menu-entry w-6 text-center"
                    [ngClass]="{ 'mt-3': i >= 2 }">

                    <a pRipple
                              class="menu-action cursor-pointer inline-flex align-items-center justify-content-center transition-colors transition-duration-150"
                       style="width:60px;height:60px;border-radius:12px"
                       (click)="onMenuClick(item)"
                       [routerLink]="item.routerLink">

                        <!-- PrimeIcon -->
                        <i *ngIf="item.icon"
                           class="pi {{item.icon}} text-2xl"></i>

                        <!-- Image icon -->
                        <img *ngIf="item.icon"
                             [src]="'assets/layout/images/flatiron/' + item.icon"
                             alt="{{item.label}}"
                             style="width: 30px; height: 30px" />

                    </a>

                    <div class="menu-label mt-2 font-medium text-sm">
                        {{item.label}}
                    </div>

                </li>
            </ng-container>
        </ul>
    </div>

    <!-- FOOTER -->
</div>


