.menu-container {
    /* Very light orange */
    background-color: #fff4e6;
}

.menu-action {
    transition: transform 150ms ease, box-shadow 150ms ease;
    will-change: transform;
}

.menu-action:hover {
    transform: scale(1.06);
}

.menu-action:active {
    transform: scale(1.02);
}
