<div class="grid">
    <div class="col-12 md:col-6 lg:col-3">
        <div class="p-3 text-white h-6rem border-round m-0 bg-center bg-cover bg-no-repeat bg-cyan-400"
             style="background-image: url('assets/layout/images/dashboard/effect-1.svg')">
            <div class="font-bold w-full mb-3">
                <span>Sales</span>
            </div>
            <div class="text-white text-2xl font-bold w-full flex align-items-center py-1">150 <i
                class="pi pi-arrow-up ml-2 font-bold"></i></div>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <div class="p-3 text-white h-6rem border-round m-0 bg-center bg-cover bg-no-repeat bg-orange-400"
             style="background-image: url('assets/layout/images/dashboard/effect-2.svg')">
            <div class="font-bold w-full mb-3">
                <span>Revenue</span>
            </div>
            <div class="text-white text-2xl font-bold w-full flex align-items-center py-1">532 <i
                class="pi pi-arrow-up ml-2 font-bold"></i></div>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <div class="p-3 text-white h-6rem border-round m-0 bg-center bg-cover bg-no-repeat bg-purple-400"
             style="background-image: url('assets/layout/images/dashboard/effect-3.svg')">
            <div class="font-bold w-full mb-3">
                <span>New Customers</span>
            </div>
            <div class="text-white text-2xl font-bold w-full flex align-items-center py-1">450 <i
                class="pi pi-arrow-down ml-2 font-bold"></i></div>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <div class="p-3 text-white h-6rem border-round m-0 bg-center bg-cover bg-no-repeat bg-bluegray-200"
             style="background-image: url('assets/layout/images/dashboard/effect-4.svg')">
            <div class="font-bold w-full mb-3">
                <span>Stock</span>
            </div>
            <div class="text-white text-2xl font-bold w-full flex align-items-center py-1">143 <i
                class="pi pi-arrow-down ml-2 font-bold"></i></div>
        </div>
    </div>


    <div class="col-9 lg:col-3 p-2">
        <div class="card">
            <div class="flex align-items-center justify-content-between relative">

                <div>
                    <img src="assets/layout/images/flatiron/pide1.png" style="width: 90px; height: 90px"/>
                </div>

                <div><div class="flex align-items-center justify-content-center
                bg-blue-100 border-round
                absolute top-0 right-0 m-2"
                         style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                    </div>
                    <span class="font-bold text-3xl text-color">PIZZA</span>
                    <p class="mt-2 mb-0 text-2xl text-color-secondary">Reviews Received</p>
                </div>

            </div>
        </div>
    </div>
    <div class="col-9 lg:col-3 p-2">
        <div class="card">
            <div class="flex align-items-center justify-content-between relative">

                <div>
                    <img src="assets/layout/images/flatiron/pide1.png" style="width: 90px; height: 90px"/>
                </div>

                <div><div class="flex align-items-center justify-content-center
                bg-blue-100 border-round
                absolute top-0 right-0 m-2"
                          style="width:2.5rem;height:2.5rem">
                    <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                </div>
                    <span class="font-bold text-3xl text-color">PIZZA</span>
                    <p class="mt-2 mb-0 text-2xl text-color-secondary">Reviews Received</p>
                </div>

            </div>
        </div>
    </div>
    <div class="col-9 lg:col-3 p-2">
        <div class="card">
            <div class="flex align-items-center justify-content-between relative">

                <div>
                    <img src="assets/layout/images/flatiron/pide1.png" style="width: 90px; height: 90px"/>
                </div>

                <div><div class="flex align-items-center justify-content-center
                bg-blue-100 border-round
                absolute top-0 right-0 m-2"
                          style="width:2.5rem;height:2.5rem">
                    <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                </div>
                    <span class="font-bold text-3xl text-color">PIZZA</span>
                    <p class="mt-2 mb-0 text-2xl text-color-secondary">Reviews Received</p>
                </div>

            </div>
        </div>
    </div>
    <div class="col-9 lg:col-3 p-2">
        <div class="card">
            <div class="flex align-items-center justify-content-between relative">

                <div>
                    <img src="assets/layout/images/flatiron/pide1.png" style="width: 90px; height: 90px"/>
                </div>

                <div><div class="flex align-items-center justify-content-center
                bg-blue-100 border-round
                absolute top-0 right-0 m-2"
                          style="width:2.5rem;height:2.5rem">
                    <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                </div>
                    <span class="font-bold text-3xl text-color">PIZZA</span>
                    <p class="mt-2 mb-0 text-2xl text-color-secondary">Reviews Received</p>
                </div>

            </div>
        </div>
    </div>


</div>
